body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    width: 300px;
}

h2 {
    text-align: center;
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[readonly] {
    background-color: #e5e5e5;
    font-weight: bold;
}

button {
    width: 48%;
    padding: 8px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:first-of-type {
    background-color: #007bff;
    color: white;
}

button:last-of-type {
    background-color: #cccccc;
}
.botones {
    display: flex;
    justify-content: space-between;
}
